@charset "UTF-8";

@font-face {
    font-family: 'IDroid';
    src: url(../pacote-projeto-d010/fontes/idroid/IDroid.otf) format('opentype');
}

:root {
    --cor1: #c5ebd6;
    --cor2: #83E1AD;
    --cor3: #3DDC84;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Verdana, Helvetica, sans-serif;
    --fonte1: 'IDroid', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte0);
}
main p {
    margin: 14px 0px;
    text-align: justify;
}
header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3), var(--cor4));
    color: white;
    text-align: center;
    font-family: var(--fonte0);
    min-height: 130px;
    padding-top: 30px;
}
header > h1 {
    margin-bottom: 20px;
    font-family: var(--fonte0);
    font-size: 3em;
    text-shadow: 3px 2px 8px rgba(0, 0, 0, 0.521);
}
header > p {
    font-family: var(--fonte0);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 5px;
    padding-left: 5px;
    text-shadow: 3px 2px 8px rgba(0, 0, 0, 0.521);
}
nav {
    background-color: var(--cor4);
    padding: 9px;
    box-shadow: 2px 5px 7px 0px rgba(0, 0, 0, 0.603);
}
nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 9px;
    border-radius: 5px;
    transition-duration: .7s;
}
nav > a:hover {
    color: var(--cor4);
    background-color: var(--cor3);
}
.paragrafo {
    font-family: var(--fonte1);
    color: var(--cor4);
    font-weight: normal;
    text-indent: 7px;
}
.cores {
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
main {
    background-color: white;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.781);
}
main strong {
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 5px;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 2px 5px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}
main a::after {
    content: '\00A0\1F517';
}
main h2 {
    font-family: var(--fonte1);
    font-size: 1.4em;
}
.primeiro {
    background-color: var(--cor4);
    padding: 5px;
    color: white;
    border-radius: 8px 8px 0px 0px;
    margin: -10px -10px 0px -10px;
}
aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}
.corpo {
    background-color: var(--cor1);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.699);
}
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
}
.espaco {
    text-indent: 40px;
    line-height: 1.5em;
    font-size: 1.1em;
}
img {
    width: 100%;
}
.pequena {
    max-width: 360px;
    display: block;
    margin: auto;
}
.video {
    background-color: var(--cor4);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 56.5%;
    position: relative;
}
.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}