@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(to right, #9B7834, #705D38);
}

main {
    background-color: aliceblue;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #33302b6b;
}

p {
    text-align: justify;
}

h1 {
    color: #F0A000;
    text-align: center;
    text-shadow: 1px 1px 2px #ca8e17b9;
}

h2 {
    color: #C58E21;
}