@charset "UTF-8";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 234, 208, 0.87);
}
header {
    background-color: white;
    padding: 20px;
}
header > h1 {
    text-align: center;
}
main {
    background-color: white;
    padding: 5px;
}
footer {
    background-color: chocolate;
    text-align: center;
    padding: 5px;
}
footer > p {
    margin: 0px;
}
.artigo1 {
    background-color: rgba(255, 234, 208, 0.87);
}
.artigo2 {
    background-color: rgba(255, 234, 208, 0.87);
    border-radius: 16px 16px 16px 16px;
    padding: 20px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.658);
}
.artigo3 {
    background-color: rgba(255, 234, 208, 0.87);
}
nav {
    background-color: darkorange;
    text-align: center;
    padding: 5px;
    box-shadow: 3px 1px 10px 0px rgba(0, 0, 0, 0.548);
}
nav > a {
    text-decoration: none;
    color: black
}
article > aside {
    background-color: darkorange;
}