@charset "UTF-8";

        body {
            background-color: rgb(251, 255, 240);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(155, 92, 228);
            background-color: rgba(86, 190, 65, 0.377);
        }
        h2 {
            color: rgb(103, 72, 153);
        }    
        p {
            text-align: justify;
        }